.bottomInfor{
    width: 855px;
    height: 74px;
    background: #f9f9f9;
    padding-top: 15px;
    margin: 0 auto;
    /* text-align: center; */
}
.bottomInfor ul{
    /* width: 285px; */
    height: 14px;
    /* background: red; */

    /* margin:0 auto; */
    text-align: center;
}
.bottomInfor li{
    display: inline-block;
}
.bottomInfor li a{
    font-size: 14px;
    color: #666;
    /* float: left; */
    padding:0px 15px;
    border-right: 1px solid #000;
}
.bottomInfor li a:hover{
    color: #000;
}
.bottomInfor li .problem{
    border-right:none;
}
.bottomInfor .copyright{
    text-align: center;
    color: #666;
    margin-top: 11px;
}
